{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 40.40655994190704,
    "longitude": -82.45942082062996,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en"
  }
}